html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

header {
    background-image: url(../images/bg_header.jpg);
    background-attachment: fixed;    
     background-position: top;     
     background-size: cover;     
     height: 1000px;
}

#logo_text {
    font-size: 3.5em;

}

#your_logo {
    width: 300px;
    height: 100px;
    margin-bottom: 20px;
}

#h1_king_1 {
    color: azure;
    text-align: center;
}

.span2 {
    font-size: 1.5em;
    text-align: justify;
}

#p_title {
    font-size: 12pt;
    color: azure;
    text-align: center;
    opacity: 0.7;
}

#svg {
    width: 150px;
    height: 150px;
}

#features {
    text-align: center;
}

#about {
    background-image: url(../images/bg_nuage.jpg);
    background-attachment: fixed;    
     background-position: top;     
     background-size: cover;
     height: 900px;
}

#blue_container {
    background-color: rgb(135,206,235);
    height: 100%;
    opacity: 0.50;
}

#h2_about {
    text-align: center;
    color:ghostwhite;
    font-weight: bold;
    margin-bottom: 0;
}


.card {
    width: 25rem;
    opacity: 0.6;
    color:rgb(255, 255, 255);
    width: 600px;
}

.card-title {
    font-size: 3em;
    text-align: start;
    margin-top: 20px;
    margin-left: 50px;
}

.card-subtitle {
    font-size: 1.5em;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 50px;
}

.card-text {
    justify-content: start;
    line-height: 2;
    font-size: 1em;
}

#blog {
    background-color: white;
}

.img_blog {
    width: 500px;
    padding-top: 55px;
}

.blog_title {
    font-size: 3em;
    text-align: start;
    padding-bottom: 10px;
    line-height: 1.5;
}


#history {
    background-image: url(../images/bg_appareil_photo.jpg);
    background-attachment: fixed;    
    background-position: top;     
    background-size: cover;
    height: 900px;
}

.card-title_h {
    font-size: 1.6em;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
}

.card-text_h {
    justify-content: center;
    line-height: 2;
    font-size: 1em;
}

.card_h6 {
    font-size: 2.4em;
    justify-content: center;
    text-align: start;
}

#photos {
    background-color: rgb(235, 233, 233);
}

#photo_desk {
    width: 840px;
}

#photo_bridge {
    width: 420px;
    height: 650px;
}

#photo_motel {
    width: 840px;
}

#photo_camera {
    width: 400px;
}

#photo_mountain {
    height: 1000px;
}

#photo_plane {
    width: 413px;
    height: 282px;
}

.partenaires_img {
    width: 250px;
    height: 200px;
}

.blurred_photo {
    background-image: url(../images/bg_newsletter.jpg);
    background-attachment: fixed;         
    background-size: cover;
    height: 500px;
    z-index: -1;
    filter: blur();
}

.h1-text {
    z-index: 1;
}

#Email1 {
    width: 400px;
}

.text_newsletter {
    text-align: justify;
}

.footer {
    background-color: rgba(36,50,59,255);
    height: 300px;
    color: ghostwhite;
}

.footer_copyright {
    color: rgba(46,168,182,255);
}

.svgs_logo {
    width: 30px;
}






@media(max-width:767px){
    
}

@media(min-width:768px){

}

@media(min-width:992px){

    
}

@media(min-width:1200px){

}

